---
import Icon from "./Icon.astro";

interface Props {
  name: keyof typeof import("@utils/brands").BRANDS;
  href: string;
  label?: string;
}

const { name, href, label } = Astro.props as Props;
---

<div class="socials">
  <a
    href={href}
    target="_blank"
    rel="noopener noreferrer"
    aria-label={label ?? name}
    class="social-link"
  >
    <Icon name={name} />
  </a>
</div>

<style>
  .socials {
    background: transparent;
    border: 1px transparent;
    border-radius: 8px;
    cursor: pointer;
    padding: 0.4rem;
    color: inherit;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
  }

  .socials:hover {
    background: rgba(128, 128, 128, 0.2);
    opacity: 1;
  }
  .social-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition:
      color 0.2s ease,
      transform 0.2s ease;
    color: var(--text);
  }

  .social-link svg {
    width: var(--icon-size, 24px);
    height: var(--icon-size, 24px);
    fill: currentColor;
    stroke: currentColor;
    transition:
      transform 0.2s ease,
      color 0.2s ease,
      opacity 0.2s ease;
  }

  /* .social-link:hover {
    transform: scale(1.1);
    opacity: 0.7;
  } */
</style>
